{{ define "about" }}

    {{ template "header" . }}
    <main class="h-75 register-form">
        <div>
            <h1>О нас</h1>
            <p>Мы - это молодая, амбициозная команда. Которая захотела чтобы в этот тяжелой эмоциональный момент, все
                кто
                нуждаются в поддержке, могли найти себе друзей или просто единомышленников. Специально для этого мы
                создали
                социальную сеть нового поколения, которая позволит найти друзей поблизости и скоротать это время в
                компании
                хороших друзей.</p>

            <p>А дальше будет какой то рыбный текст. Просто так для того чтобы показать как выглядит простыня такста.
                Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
                превратился в
                страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой
                коричневый,
                выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот
                окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки
                беспомощно
                копошились у него перед глазами. «Что со мной случилось? » – подумал он. Это не было сном.</p>

            <p>Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех
                хорошо
                знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, –
                висел
                портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку.
                На
                портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю
                тяжелую
                меховую муфту, в которой целиком исчезала ее рука.</p>

            <p>Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат
                капли
                дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту
                чепуху»,
                –
                подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем
                состоянии
                он никак не мог принять этого положения. С какой бы силой ни поворачивался он на правый бок, он
                неизменно
                сваливался опять на спину.</p>

            <p>Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от
                этих
                попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. «Ах ты,
                господи,
                – подумал он, – какую я выбрал хлопотную профессию! Изо дня в день в разъездах. Деловых волнений куда
                больше,
                чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы дороги, думай о расписании поездов,
                мирись с
                плохим, нерегулярным питанием, завязывай со все новыми и новыми людьми недолгие, никогда не бывающие
                сердечными
                отношения. Черт бы побрал все это!</p>

            <p>» Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати, чтобы удобнее
                было
                поднять голову; нашел зудевшее место, сплошь покрытое, как оказалось, белыми непонятными точечками;
                хотел
                было
                ощупать это место одной из ножек, но сразу отдернул ее, ибо даже простое прикосновение вызвало у него,
                Грегора,
                озноб. Он соскользнул в прежнее свое положение. «От этого раннего вставания, – подумал он, – можно
                совсем
                обезуметь. Человек должен высыпаться. Другие коммивояжеры живут, как одалиски. Когда я, например, среди
                дня
                возвращаюсь в гостиницу, чтобы переписать полученные заказы, эти господа только завтракают.</p>

            <p>А осмелься я вести себя так, мои хозяин выгнал бы меня сразу. Кто знает, впрочем, может быть, это было бы
                даже
                очень хорошо для меня. Если бы я не сдерживался ради родителей, я бы давно заявил об уходе, я бы подошел
                к
                своему хозяину и выложил ему все, что о нем думаю. Он бы так и свалился с конторки! Странная у него
                манера –
                садиться на конторку и с ее высоты разговаривать со служащим, который вдобавок вынужден подойти вплотную
                к
                конторке из-за того, что хозяин туг на ухо. Однако надежда еще не совсем потеряна: как только я накоплю
                денег,
                чтобы выплатить долг моих родителей – на это уйдет еще лет пять-шесть, – я так и поступлю.</p>

            <p>Тут-то мы и распрощаемся раз и навсегда. А пока что надо подниматься, мой поезд отходит в пять». И он
                взглянул на
                будильник, который тикал на сундуке. «Боже правый! » – подумал он. Было половина седьмого, и стрелки
                спокойно
                двигались дальше, было даже больше половины, без малого уже три четверти. Неужели будильник не звонил? С
                кровати
                было видно, что он поставлен правильно, на четыре часа; и он, несомненно, звонил. Но как можно было
                спокойно
                спать под этот сотрясающий мебель трезвон? Ну, спал-то он неспокойно, но, видимо, крепко. Однако что
                делать
                теперь?</p>

            <p>Следующий поезд уходит в семь часов; чтобы поспеть на него, он должен отчаянно торопиться, а набор
                образцов
                еще
                не упакован, да и сам он отнюдь не чувствует себя свежим и легким на подъем. И даже поспей он на поезд,
                хозяйского разноса ему все равно не избежать – ведь рассыльный торгового дома дежурил у пятичасового
                поезда
                и
                давно доложил о его, Грегора, опоздании. Рассыльный, человек бесхарактерный и неумный, был ставленником
                хозяина.
                А что, если сказаться больным? Но это было бы крайне неприятно и показалось бы подозрительным, ибо за
                пятилетнюю
                свою службу Грегор ни разу еще не болел.</p>

            <p>Хозяин, конечно, привел бы врача больничной кассы и стал попрекать родителей сыном-лентяем, отводя любые
                возражения ссылкой на этого врача, по мнению которого все люди на свете совершенно здоровы и только не
                любят
                работать. И разве в данном случае он был бы так уж неправ? Если не считать сонливости, действительно
                странной
                после такого долгого сна, Грегор и в самом деле чувствовал себя превосходно и был даже чертовски
                голоден.
                Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
                превратился в
                страшное насекомое.</p>

            <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый,
                разделенный
                дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти
                одеяло.
                Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед
                глазами. «Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что
                слишком
                маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где
                были
                разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно
                вырезал
                из
                иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в
                меховой
                шляпе
                и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее
                рука.
                Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника
                стучат
                капли
                дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту
                чепуху»,
                –
                подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем
                состоянии
                он никак не мог принять этого положения. С какой бы силой ни поворачивался он на правый бок, он
                неизменно
                сваливался опять на спину.</p>
        </div>
    </main>
    {{ template "footer" }}
{{ end }}