{{ define "error" }}

    {{ template "header" . }}
    <main class="form-signin">
        <form method="post" action="/login">
            <h1 class="h3 mb-3 fw-bolder" style="font-size: 120px;">УПС...</h1>
            <p>Что то пошло не так, попробуйте <a href="/">снова</a> попозже</p>
        </form>
    </main>
    {{ template "footer" }}
{{ end }}