{{ define "friends" }}

    {{ template "header" . }}
    <main class="px-3 h-75 register-form">
        <h1>Друзья</h1>
        <p class="lead">
            Иметь хороших друзей, с которыми ты можешь поделиться своей жизнью — это лучший подарок. Не трать время на
            тех кто тебе безразличен, найди действительно тех людей с кем тебе было бы приятно скрасить то время что мы
            проводим в изоляции, вероятно именно эти люди станут для тебя настоящими друзьями!
            <br/>
            <br/>
            <br/>
        </p>

        {{ if .Await }}
            <hr class="my-4">
            <div class="album">
                <br/>
                <h3>Ожидают вашего решения!</h3>
                <br/>
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {{ range $k, $v := .Await }}
                            <div class="col" id="await-id-{{ $v.ID }}">
                                <div class="card shadow-sm">
                                    <div width="100%" height="125" class="avatar" style="background-image: url('/web/images/avatar.jpg')">
                                    </div>

                                    <div class="card-body text-dark">
                                        <p class="card-text text-start">{{ $v.FirstName }} {{ $v.LastName }}
                                            <br/><small>из г. {{ $v.City }}</small>
                                        </p>
                                        <p class="small text-start">Возраст: {{ $v.Age }}<br/>
                                            Email: {{ $v.Email }}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button
                                                        type="button"
                                                        data-userId="{{ $v.ID }}"
                                                        class="btn btn-sm btn-outline-secondary approve-friend">
                                                    Подтвердить
                                                </button>
                                                <button
                                                        type="button"
                                                        data-userId="{{ $v.ID }}"
                                                        class="btn btn-sm btn-outline-secondary decline-friend">
                                                    Отклонить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>

                </div>
            </div>
        {{ end }}

        {{ if .Friends }}
            <hr class="my-4">
            <div class="album">
                <br/>
                <h3>Ваши друзья!</h3>
                <br/>
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {{ range $k, $v := .Friends }}
                            <div class="col {{ if eq $v.Status 0 }} not-approved {{ end }}">
                                <div class="card shadow-sm">
                                    <div width="100%" height="125" class="avatar" style="background-image: url('/web/images/avatar.jpg')"></div>

                                    <div class="card-body text-dark">
                                        <p class="card-text text-start">{{ $v.FirstName }} {{ $v.LastName }}
                                            <br/><small>из г. {{ $v.City }}</small>
                                        </p>
                                        <p class="small text-start">Возраст: {{ $v.Age }}<br/>
                                            Email: {{ $v.Email }}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button
                                                        type="button"
                                                        {{ if eq $v.Status 0 }} disabled="disabled" {{ end }}
                                                        data-userId="{{ $v.ID }}"
                                                        onclick="alert('Данная функциональность еще не работает')"
                                                        class="btn btn-sm btn-outline-secondary">Написать сообщение
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ else }}
            <h4>У вас пока нет друзей, но не отчаивайтесь вы найдете себе друга!</h4>
        {{ end }}
    </main>
    {{ template "footer" }}
{{ end }}