{{ define "header" }}
    <!DOCTYPE html>
    <html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <title>ВИзоляции - социальная сеть для тех кто в изоляции</title>
        <link href="/web/css/bootstrap.min.css" rel="stylesheet">
        <link href="/web/css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/web/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/web/js/common.js"></script>
    </head>
    <body class="d-flex h-100 text-center text-white bg-blue">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">ВИзоляции</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link {{if eq .ActivePage "index"}} active {{end}}" aria-current="page" href="/">Главная</a>
                    {{ if .CurrentUser }}
                        <a class="nav-link {{if eq .ActivePage "friends"}} active {{end}}" href="/friends">Друзья</a>
                        <a class="nav-link {{if eq .ActivePage "profile"}} active {{end}} "
                           href="/profile/{{ .CurrentUser.ID }}">Профиль</a>
                        <a class="nav-link " href="/logout">Выйти</a>
                    {{ else }}
                        <a class="nav-link {{if eq .ActivePage "about"}} active {{end}}" href="/about">О нас</a>
                        <a class="nav-link {{if eq .ActivePage "login"}} active {{end}} " href="/login">Войти</a>
                    {{ end }}
                </nav>
            </div>
        </header>
{{ end }}