{{ define "index" }}

    {{ template "header" . }}
    <main class="px-3 h-75 register-form">
        <h1>Будь в компании единомышленников!.</h1>
        <p class="lead">Иметь хороших друзей, с которыми ты можешь поделиться своей жизнью — это лучший подарок. Не трать время на
            тех кто тебе безразличен, найди действительно тех людей с кем тебе было бы приятно скрасить то время что мы
            проводим в изоляции, вероятно именно эти люди станут для тебя настоящими друзьями!
            <br />
            <br />
        </p>
        <p class="lead">
            <a href="/search-friends" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Найти друзей</a>
        </p>


        {{ if .People }}
            <hr class="my-4">
            <div class="album">
                <br/>
                <h3>Возможно вам будет интересно вместе!</h3>
                <br/>
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {{ range $k, $v := .People }}
                            <div class="col" id="people-id-{{ $v.ID }}">
                                <div class="card shadow-sm">
                                    <div width="100%" height="125" class="avatar" style="background-image: url('/web/images/avatar.jpg')"></div>

                                    <div class="card-body text-dark">
                                        <p class="card-text text-start">{{ $v.FirstName }} {{ $v.LastName }}
                                            <br/><small>из г. {{ $v.City }}</small>
                                        </p>
                                        <p class="small text-start">Возраст: {{ $v.Age }}<br/>
                                            Email: {{ $v.Email }}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button
                                                        type="button"
                                                        data-userId="{{ $v.ID }}"
                                                        class="btn btn-sm btn-outline-secondary add-to-friends">Добавить
                                                    в друзья
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>

                </div>
            </div>
        {{ end }}
    </main>
    {{ template "footer" }}
{{ end }}