{{ define "login" }}

    {{ template "header" . }}
    <main class="form-signin">
        <form method="post" action="/login">
            <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
            {{ if .HasError }}
                <div class="alert alert-danger" role="alert">
                    Не правильная пара логин - пароль
                </div>
            {{ end }}
            <label for="inputEmail" class="visually-hidden">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required
                   autofocus>
            <label for="inputPassword" class="visually-hidden">Пароль</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль"
                   required>
            <br/>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            <br />
            <a class="link-secondary" href="/registration">Регистрация</a>
        </form>
    </main>
    {{ template "footer" }}
{{ end }}