{{ define "notfound" }}

    {{ template "header" . }}
    <main class="form-signin">
        <form method="post" action="/login">
            <h1 class="h3 mb-3 fw-bolder" style="font-size: 120px;">404</h1>
            <p>Данная страница не существует. Попройте начать с <a href="/">начала</a></p>
        </form>
    </main>
    {{ template "footer" }}
{{ end }}