{{ define "registration" }}

    {{ template "header" . }}
    <main class="h-75 register-form">
        <div class="py-5 text-center">
            <h2>Форма регистрации</h2>
            <p class="lead">Вас посадили на самоизоляцию? Не расстраивайтесь! Регистрируйся как новый участник, находи
                единомышленников и туси как будто ты с друзьями</p>
        </div>

        <div class="row g-3">
            <div class="col-md-12 col-lg-12">
                <h4 class="mb-3">Личная информация</h4>
                {{ if .Errors }}
                    <div class="alert alert-danger" role="alert">
                        Проверьте форму на наличие ошибок, исправьте их и попробуйте снова.
                    </div>
                {{ end }}
                <form class="needs-validation" method="post" action="/registration" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Имя</label>
                            <input type="text" name="firstname" value="{{ .User.FirstName }}" class="form-control {{ if .Errors.FirstName }} is-invalid {{ end }}" id="firstName" placeholder=""
                                   value="" required>
                            {{ if .Errors.FirstName }}
                                <div class="invalid-feedback">
                                    {{ .Errors.FirstName }}
                                </div>
                            {{ end }}
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Фамилия</label>
                            <input type="text" name="lastname" value="{{ .User.LastName }}" class="form-control {{ if .Errors.LastName }} is-invalid {{ end }}" id="lastName" placeholder=""
                                   value="" required>
                            {{ if .Errors.FirstName }}
                                <div class="invalid-feedback">
                                    {{ .Errors.LastName }}
                                </div>
                            {{ end }}
                        </div>

                        <div class="col-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" value="{{ .User.Email }}" class="form-control {{ if .Errors.Email }} is-invalid {{ end }}" id="email">
                            {{ if .Errors.Email }}
                                <div class="invalid-feedback">
                                    {{ .Errors.Email }}
                                </div>
                            {{ end }}
                        </div>

                        <div class="col-6">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" name="password" value="{{ .User.Password }}" class="form-control {{ if .Errors.Password }} is-invalid {{ end }}" id="password">
                            {{ if .Errors.FirstName }}
                                <div class="invalid-feedback">
                                    {{ .Errors.Password }}
                                </div>
                            {{ end }}
                        </div>


                        <div class="col-6">
                            <label for="address" class="form-label">Город</label>
                            <input type="text" name="city" value="{{ .User.Address.City }}" class="form-control" id="city" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address" class="form-label">Адрес</label>
                            <input type="text" name="address" value="{{ .User.Address.Address }}" class="form-control" id="address" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-12">
                            <p>Адрес не будет виден, никому кроме вас, он нужен для того чтобы определеить вашу позицию
                                и найти друзей поблизости</p>
                        </div>

                        <hr class="my-4">

                        <div class="col-12">
                            <label for="city" class="form-label">Дата рождения</label>
                        </div>
                        <div class="col-3">
                            <select name="day" class="form-control {{ if .Errors.BirthDay }} is-invalid {{ end }}">
                                <option value="">Выберите день</option>
                                {{ range $k, $v := .Days }}
                                    <option value="{{ $v }}" {{ if eq $v $.User.BirthDay }} selected="selected" {{ end }}>{{ $k }}</option>
                                {{ end }}
                            </select>
                            {{ if .Errors.BirthDay }}
                                <div class="invalid-feedback">
                                    {{ .Errors.BirthDay }}
                                </div>
                            {{ end }}
                        </div>
                        <div class="col-3">
                            <select name="month" class="form-control {{ if .Errors.BirthMonth }} is-invalid {{ end }}">
                                <option value="">Выберите месяц</option>
                                {{ range $k, $v := .Months }}
                                    <option value="{{ $k }}" {{ if eq $k $.User.BirthMonth }} selected="selected" {{ end }}>{{ $v }}</option>
                                {{ end }}
                            </select>
                            {{ if .Errors.BirthMonth }}
                                <div class="invalid-feedback">
                                    {{ .Errors.BirthMonth }}
                                </div>
                            {{ end }}
                        </div>

                        <div class="col-6">
                            <select name="year" class="form-control {{ if .Errors.BirthYear }} is-invalid {{ end }}">
                                <option value="">Выберите год рождения</option>
                                {{ range $k, $v := .Years }}
                                    <option value="{{ $v }}" {{ if eq $v $.User.BirthYear }} selected="selected" {{ end }}>{{ $v }}</option>
                                {{ end }}
                            </select>
                            {{ if .Errors.BirthYear }}
                                <div class="invalid-feedback">
                                    {{ .Errors.BirthYear }}
                                </div>
                            {{ end }}
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Интересы</h4>
                    <div class="row my-3">
                        {{ range .Interests }}
                            <div class="col-sm-4 text-start">
                                <div class="form-check">
                                    <input
                                            {{ if .IsChecked }}
                                                checked="checked"
                                            {{ end }}
                                            type="checkbox"
                                            name="interests"
                                            value="{{ .ID }}"
                                            class="form-check-input"
                                           id="interest-{{ .ID }}">
                                    <label class="form-check-label" for="interest-{{ .ID }}">{{ .Title }}</label>
                                </div>
                            </div>
                        {{ end }}
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Продолжить</button>
                </form>
            </div>
        </div>
    </main>

    {{ template "footer" }}
{{ end }}