{{ define "search" }}

    {{ template "header" . }}
    <main class="px-3 h-75 register-form">
        <h1>Найти друзей</h1>
        <form method="post" action="/search-friends">
            <div class="row g-3">
                <div class="col-sm-4">
                    <label for="firstName" class="form-label">Имя</label>
                    <input type="text" name="firstname" value="{{ .FirstName }}" class="form-control" id="firstName"
                           placeholder=""
                           value="">
                </div>
                <div class="col-sm-4">
                    <label for="lastName" class="form-label">Фамилия</label>
                    <input type="text" name="lastname" value="{{ .LastName }}" class="form-control" id="lastName"
                           placeholder=""
                           value="">
                </div>
                <div class="col-sm-4">
                    <label for="city" class="form-label">Город</label>
                    <input type="text" name="city" value="{{ .City }}" class="form-control" id="city" placeholder=""
                           value="">
                </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Найти</button>
        </form>

        {{ if .Friends }}
            <hr class="my-4">
            <div class="album">
                <br/>
                <h3>Результат поиска</h3>
                <br/>
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {{ range $k, $v := .Friends }}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div width="100%" height="125" class="avatar"
                                         style="background-image: url('/web/images/avatar.jpg')"></div>

                                    <div class="card-body text-dark">
                                        <p class="card-text text-start">{{ $v.FirstName }} {{ $v.LastName }}
                                            <br/><small>из г. {{ $v.City }}</small>
                                        </p>
                                        <p class="small text-start">Возраст: {{ $v.Age }}<br/>
                                            Email: {{ $v.Email }}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                {{ if eq $v.Status -2}}
                                                    <button
                                                            type="button"
                                                            data-userId="{{ $v.ID }}"
                                                            class="btn btn-sm btn-outline-secondary add-to-friends">
                                                        Добавить
                                                        в друзья
                                                    </button>
                                                {{ else }}
                                                    <button
                                                            type="button"
                                                            {{ if eq $v.Status 0 }} disabled="disabled" {{ end }}
                                                            data-userId="{{ $v.ID }}"
                                                            onclick="alert('Данная функциональность еще не работает')"
                                                            class="btn btn-sm btn-outline-secondary">Написать сообщение
                                                    </button>
                                                {{ end }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ else }}
            {{ if .IsPost }}
                <br/>
                <br/>
                <br/>
                <h4>Не кого не удалось найти. Попробуйте еще раз с другими параметрами</h4>
            {{ end }}
        {{ end }}
    </main>
    {{ template "footer" }}
{{ end }}